#item_spacings{
    background-color: black;
    width: 100vw;
    height: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 7vh;
}
.navbar{
    position: fixed;
    display: grid;
    grid-column: 40px auto;
    z-index: 100;
    background-color: whitesmoke;
    height: 7vh;
    width: 100vw;
}
.Nav_button{
    height: 40px;
    width: 40px;
    margin-left: 25px;
    margin-top: 22px;
    background-color : firebrick;
}
.Nav_button:hover{
    background-color: indigo;
}
}
.EmbeddedSpacings{
    background-color: whitesmoke;
    width: fit-content;
    height: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10vh;
    justify-content: space-evenly;
}